.form {
    margin-bottom: 3em;
    display: flex;
    column-gap: 0.5em;
}

.form .input{
    outline: none;
    width: 70%;
    border-radius: 10px;
    border: none;
    padding: 0.8em 2em;
    font-size: 1.6rem;
}

.form .button {
    display: inline-block;
    width: 30%;
    background-color: var(--primary-button);
    color: white;
}

@media(max-width:768px) {
    .form {
        flex-direction: column;
        column-gap: 0;
        row-gap: 0.3em;
    }
    .form .input {
        width: 100%;
    }
    .form .button {
        width: 100%;
    }
}